
h1{
    text-align: center;
}
a{
    font-size: 25px;
    color: transparent
}
main{
    width: 1200px;
    text-align: center;
    margin: auto;
    background-color: gray;
   
}
main button{
    width: 500px;
    height: 150px;
    margin: 1.5%;
    border-radius: 50px;
    background-color: grey;
    border-color: grey;
    
}
footer button{
    width: 100px;
    height: 25px;
background-color: grey;
border-radius: 20px;

}
footer{
    text-align: center;
    margin: auto;

}
hr{
    width: 1200px;
}
a :hover{
    transform: scale(1.023);
    box-shadow: 3px 6px 6px 0 rgba(0,0,0,.11);
}
#dessert{
    background-image: url("images/dessertbutton.png");
}
#me{
    background-image: url("images/aboutmebutt.png");
}
#schedule{
    background-image: url("images/myschedulebutton.png");
}
#web{
    background-image: url("images/webdevcyclebutton.png");
}
#holiday{
    background-image: url("images/holidaysbutt.png");
}
#lists{
    background-image: url("images/listsbuttons.png");
}
#games{
    background-image: url("images/gamesbutton.png");
}
#news{
    background-image: url("images/websitecopybutton.png");
}
#hog{
    background-image: url("images/hogwartsbutton.png");
}
#temp{
    background-image: url("images/mytemplatebutton.png");
}
#head{
    background-image: url("images/headersbutton.png");
}
#div{
    background-image: url("images/divsitebutton.png");
}
#html{
    background-image: url("images/htmlbutton.png");
}
#hot{
    background-image: url("images/hottakebutton.png");
}
#wire{
    background-image: url("images/webdevelopmentbuttons.png");
}

