
h1{
    text-align: center;
}
a{
    font-size: 25px;
    color: black;
}
main{
    width: 1200px;
    text-align: center;
    margin: auto;
    background-color: gray;
   
}
main button{
    width: 300px;
    height: 140px;
    margin: 1.5%;
    border-radius: 8px;
    background-color: aliceblue;
}
footer button{
    width: 100px;
    height: 25px;
background-color: grey;
border-radius: 20px;

}
footer{
    text-align: center;
    margin: auto;

}
hr{
    width: 1200px;
}

