            
            body{
                width: 1366px;
                height: 768px;
                background-color: rgb(145, 7, 7);
                text-align: center;
            }
            div {
                background-color: rgb(237, 189, 100);
                margin: auto;
                border: solid;
                margin-bottom: 50px;
            }
            #section{
                width: 700px;
                height: 600px;
            }
            hr{
                width: 250px;
            }
            ol {
                width: 50%;
                margin: auto;
                background-color: rgb(61, 43, 226);
                text-align: left;
            }
            a{background-color: blue;
             padding: 0px 150px;
            }
            a:hover{
                background-color: darkcyan;
            }
