h1 {
    background-color: black;text-align: center;width: 20%;
}
      div  {
            background-color: black;text-align: center;width: 20%;
        }
        h2{
          background-color: rgb(213, 27, 27);  text-align: auto;
        }
        p{
            text-align: left;width: 20%;background-color: black;
        }
       
