h1{
    text-align: center;
}
section.top{
    background-color: blueviolet;
    height: 600px;
}
div.diagonal{
    background-color: blueviolet;
    width: 0;
    height: 0;
    border-right: 100vw solid transparent ;
    border-bottom: 13.9vw solid red;
    margin-top: -13.9vw;
}
section.bottom{
    background-color: red;
}   
h2{
    margin: 0%;
}
img{
    float: center;
}
h1.center{
    margin: 0%;
    position: absolute;
    font-size: 15em;
    top: 30vh;
    left: 40vw;
}
div{
    float: right;
}
